:root {
  --primary-color: rgba(35, 35, 35, 1);
  --section-background: rgba(19, 19, 19, 1);
  --text-color: rgba(255, 255, 255, 0.961);
  --second-text-color: rgba(255, 255, 255, 0.493);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}
body {
  background-color: var(--primary-color);
  position: absolute;
}
.App {
  display: flex;
  margin: 25px;
  width: 1300px;
}
.filters-section {
  background: rgba(19, 19, 19, 1);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 275px;
  left: 41px;
  top: 43px;
  padding: 40px;
  font-family: cursive;
  border-radius: 13px;
  .filter-head {
    h1 {
      color: var(--second-text-color);
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    hr {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .dropdown-list {
    margin: left;
    margin-top: 20px;
    height: 10px;
    border-radius: 6px;
    height: 60px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
  }
}
.products-section {
  color: var(--text-color);
  margin-left: 50px;
  width: 1700px;
  h1 {
    margin-bottom: 40px;
  }
  h4 {
    color: var(--second-text-color);
    font-weight: 100;
    margin-bottom: 40px;
  }
  .product-container {
    width: 100%;
    h5 {
      color: var(--text-color);
      font-weight: 100;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  hr {
    margin-bottom: 20px;
  }
  .products-bar {
    background-color: var(--section-background);
    width: 1200px;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 50px;
    .product-box {
      background-color: var(--primary-color);
      border-radius: 6px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      img {
        width: 70px;
        height: 70px;
        border-radius: 4px;
      }
      .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        .col {
          width: 50%;
          display: flex;
          flex-direction: column;
          &:nth-child(2) {
            padding-left: 17px;
          }
        }
      }
      .product-name {
        color: var(--text-color);
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 10px;
      }
      .brand-name {
        color: var(--second-text-color);
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 10px;
      }
      .price {
        color: var(--text-color);
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 10px;
        margin-left: 5px;
      }
      .location {
        color: var(--second-text-color);
        font-size: 11px;
        font-weight: normal;
        display: flex;
        flex-direction: row;
      }
      .date {
        color: var(--second-text-color);
        font-size: 11px;
        font-weight: normal;
      }
      .discription {
        color: var(--second-text-color);
        font-size: 11px;
        font-weight: normal;
      }
    }
  }
}

.slick-slide {
  padding: 10px;
}
